
  <div class="col-xs-8">
  <div class="row">
          <h1>HOTEL CATERING</h1>
      </div>
      <hr>
  <div class="row">
      
          <button class="btn btn-primary" routerLinkActive="active" routerLink='plate1990'>Rs. 1990.00</button>
          <button class="btn btn-success" routerLinkActive="active" routerLink='plate2100'>Rs. 2100.00</button>
          <button class="btn btn-warning" routerLinkActive="active" routerLink='plate3200'>Rs. 3200.00</button>
          <button class="btn btn-info active" routerLink='../hotelform'>Hotel Catering Form</button>
      
  </div>
  <div class="row">
    <router-outlet></router-outlet>
    
  </div>
</div>

