<div class="row">
    <div class="col-xs-12">
        <img 
            [src]="staff.imagePath" 
            alt=" {{ staff.name }} " 
            class="img-responsive"
            style="max-height: 300px;">
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h1> {{ staff.name }} </h1>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        {{ staff.description }}
    </div>
</div>




<!-- <div class="row">
        <div class="col-xs-12">
            <div class="btn dropdown">  
                <button 
                    type="button" 
                    class="btn btn-primary dropdown-toggle">
                    Manage Employees<span class="caret"></span>
                </button>

            <ul class="dropdown-menu">
                <li><a htref="#" class="dropdown-item"> Add New Employee </a></li>
                <li><a href="#" class="dropdown-item"> Edit Employee Details </a></li>
                <li><a href="#" class="dropdown-item"> Delete Employee </a></li>
            </ul>
            </div>
        </div>
    </div> -->

    <div class="btn-group-vertical" role="group" aria-label="">
            <div class="btn" role="group">
              <button id="dropdownId" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                  Manage Employees <span class="caret"></span>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownId">
                <li><a class="dropdown-item" href="#">Update Details</a></li>
                <li><a class="dropdown-item" href="#">Delete Employee</a></li>
              </div>
            </div>
          </div>




<!-- <div class="row">
    <div class="col-xs-12">
        Employee ID
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        Department
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        Position
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        Phone
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        NIC Number
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        Address
    </div>
</div> -->