


		
		<div class="footer-distributed">

			<div class="footer-left">

				<h3>Sanaya<span>Mansion</span></h3>

				<p class="footer-links">
					<a href="#">Home</a>
					·
					<a href="#">Blog</a>
					·
					<a href="#">Pricing</a>
					·
					<a href="#">About</a>
					·
					<a href="#">Faq</a>
					·
					<a href="#">Contact</a>
				</p>

				<p class="footer-company-name">sanayamansion &copy; 2019</p>
			</div>

			<div class="footer-center">

				<div>
					<i class="fa fa-map-marker"></i>
					<p><span>511, Galle Road, Pamburana</span>  Matara, Sri Lanka 81000</p>
				</div>

				<div>
					<i class="fa fa-phone"></i>
					<p>+94 412 233 221</p>
				</div>

				<div>
					<i class="fa fa-envelope"></i>
					<p><a href="mailto:support@company.com">contact@sanayamansion.com</a></p>
				</div>

			</div>

			<div class="footer-right">

				<p class="footer-company-about">
					<span>About the company</span>
					Sanaya Mansion is an exotic place established in 2007. Bested in the heart of down south of Sri Lanka - Matara, a historic and beautiful city
close to the sandy beach of Indian ocean. Conveniently located close to the Colombo Matara main road.
				</p>

				<div class="footer-icons">
                        <meta name="viewport" content="width=device-width, initial-scale=1">
                        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

					<a href="https://www.facebook.com/Sanaya-Mansion-327453864009470/"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-linkedin"></i></a>
					<a href="#"><i class="fa fa-google"></i></a>

				</div>

			</div>

		</div>



