<div class="col-xs-10">
        <!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css' />
    <div class="search-hero">
        <input class="form-control"
        style="box-orient:0 10px 40px 0 #B0C1D9; font-family: FontAwesoe;"
         type="text"
         name="search"
         [(ngModel)]="SearchText"
         autocomplete="off"
         placeholder="&#61442; Search Desserts">
    </div>
    <div class="container-fluid">
            <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12"    *ngFor="let desserts of desserts| filter:SearchText ;let i = index">
                            <div class="tile">
                                <div class="wrapper" >
                                    <div class="header">{{desserts.dessert}}</div>
            
                                    <div class="banner-img">
                                        <img src="{{desserts.imagePath}}" alt="Image 1">
                                    </div>
                                    <div class="dates">
                                        <div class="start">
                                            <strong>PRICE</strong> {{desserts.price}}
                                            <span></span>
                                        </div>
                                        <div class="ends">
                                            <strong>QUANTITY</strong> 
                                            <input  #quantity type="number" formControlName="quantity">
                                        </div>
                                    </div>
                                    
                                        <button (click)="onAdd(i,quantity.value)" class="btn btn-primary fix" routerLinkActive="active" routerLink='pastry'>ADD</button> 
                                    
                                </div>
                            </div> 
                        </div>    
            </div>
        </div>
    </div>

