<div class="col-xs-10">
        <!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css' />
    
    <div class="container-fluid">
            <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12"    *ngFor="let desserts of desserts;let i = index">
                            <div class="tile">
                                <div class="wrapper" >
                                    <div class="header">{{desserts.dessert}}</div>
            
                                    <div class="banner-img">
                                        <img src="{{desserts.imagePath}}" alt="Image 1">
                                    </div>
                                    <div class="dates">
                                        <div class="start">
                                            <strong>PRICE</strong> {{desserts.price}}
                                            <span></span>
                                        </div>
                                        <div class="ends">
                                            <strong>QUANTITY</strong> 
                                            <input  #quantity type="number" formControlName="quantity">
                                        </div>
                                    </div>
                                    
                                        <button (click)="onAdd(i,quantity.value)" class="btn btn-primary fix" routerLinkActive="active" routerLink='pastry'>ADD</button> 
                                    
                                </div>
                            </div> 
                        </div>
                
                
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="tile">
                        <div class="wrapper">
                            <div class="header">STRAWBERRY CAKE</div>
    
                            <div class="banner-img">
                                <img src="../assets/images/Chocolate And Strawberry Cake.jpg" alt="Image 1">
                            </div>
                            <div class="dates">
                                <div class="start">
                                    <strong>PRICE</strong> Rs. 70.00
                                    <span></span>
                                </div>
                                <div class="ends">
                                    <strong>QUANTITY</strong> 
                                    <input type="number" formControlName="quantity">
                                </div>
                            </div>
                            
                                <button class="btn btn-primary fix" routerLinkActive="active" routerLink='pastry'>ADD</button> 
                            
                        </div>
                    </div> 
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="tile">
                        <div class="wrapper">
                            <div class="header">CREPE CAKE</div>
    
                            <div class="banner-img">
                                <img src="../assets/images/Crepe Cake.jpg" alt="Image 1">
                            </div>
                            <div class="dates">
                                <div class="start">
                                    <strong>PRICE</strong> Rs. 70.00
                                    <span></span>
                                </div>
                                <div class="ends">
                                    <strong>QUANTITY</strong> 
                                    <input type="number" formControlName="quantity">
                                </div>
                            </div>
                            
                                <button class="btn btn-primary fix" routerLinkActive="active" routerLink='pastry'>ADD</button> 
                            
                        </div>
                    </div> 
                </div>
    
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="tile">
                            <div class="wrapper">
                                <div class="header">CHEESECAKE BAR</div>
        
                                <div class="banner-img">
                                    <img src="../assets/images/Cheesecake Bars.jpg" alt="Image 1">
                                </div>
                                <div class="dates">
                                    <div class="start">
                                        <strong>PRICE</strong> Rs. 50.00
                                        <span></span>
                                    </div>
                                    <div class="ends">
                                        <strong>QUANTITY</strong> 
                                        <input type="number" formControlName="quantity">
                                    </div>
                                </div>
                                
                                    <button class="btn btn-primary fix" routerLinkActive="active" routerLink='pastry'>ADD</button> 
                                
                            </div>
                        </div> 
                    </div>
    
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="tile">
                                <div class="wrapper">
                                    <div class="header">LEMON BAR</div>
            
                                    <div class="banner-img">
                                        <img src="../assets/images/Lemon Bars.jpg" alt="Image 1">
                                    </div>
                                    <div class="dates">
                                        <div class="start">
                                            <strong>PRICE</strong> Rs. 40.00
                                            <span></span>
                                        </div>
                                        <div class="ends">
                                            <strong>QUANTITY</strong> 
                                            <input type="number" formControlName="quantity">
                                        </div>
                                    </div>
                                    
                                        <button class="btn btn-primary fix" routerLinkActive="active" routerLink='pastry'>ADD</button> 
                                    
                                </div>
                            </div> 
                        </div>
    
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                <div class="tile">
                                    <div class="wrapper">
                                        <div class="header">MOUSSE CAKE</div>
                
                                        <div class="banner-img">
                                            <img src="../assets/images/Mousse Cake.jpg" alt="Image 1">
                                        </div>
                                        <div class="dates">
                                            <div class="start">
                                                <strong>PRICE</strong> Rs. 70.00
                                                <span></span>
                                            </div>
                                            <div class="ends">
                                                <strong>QUANTITY</strong> 
                                                <input type="number" formControlName="quantity">
                                            </div>
                                        </div>
                                        
                                            <button class="btn btn-primary fix" routerLinkActive="active" routerLink='pastry'>ADD</button> 
                                        
                                    </div>
                                </div> 
                            </div>
    
                            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <div class="tile">
                                        <div class="wrapper">
                                            <div class="header">BANANA PUDDING</div>
                    
                                            <div class="banner-img">
                                                <img src="../assets/images/Banana Pudding.jpg" alt="Image 1">
                                            </div>
                                            <div class="dates">
                                                <div class="start">
                                                    <strong>PRICE</strong> Rs. 60.00
                                                    <span></span>
                                                </div>
                                                <div class="ends">
                                                    <strong>QUANTITY</strong> 
                                                    <input type="number" formControlName="quantity">
                                                </div>
                                            </div>
                                            
                                                <button class="btn btn-primary fix" routerLinkActive="active" routerLink='pastry'>ADD</button> 
                                            
                                        </div>
                                    </div> 
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                        <div class="tile">
                                            <div class="wrapper">
                                                <div class="header">CHOCOLATE TARTS</div>
                        
                                                <div class="banner-img">
                                                    <img src="../assets/images/Chocolate Tarts.jpg" alt="Image 1">
                                                </div>
                                                <div class="dates">
                                                    <div class="start">
                                                        <strong>PRICE</strong> Rs. 60.00
                                                        <span></span>
                                                    </div>
                                                    <div class="ends">
                                                        <strong>QUANTITY</strong> 
                                                        <input type="number" formControlName="quantity">
                                                    </div>
                                                </div>
                                                
                                                    <button class="btn btn-primary fix" routerLinkActive="active" routerLink='pastry'>ADD</button> 
                                                
                                            </div>
                                        </div> 
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                            <div class="tile">
                                                <div class="wrapper">
                                                    <div class="header">TIRAMISU</div>
                            
                                                    <div class="banner-img">
                                                        <img src="../assets/images/Tiramisu.jpg" alt="Image 1">
                                                    </div>
                                                    <div class="dates">
                                                        <div class="start">
                                                            <strong>PRICE</strong> Rs. 60.00
                                                            <span></span>
                                                        </div>
                                                        <div class="ends">
                                                            <strong>QUANTITY</strong> 
                                                            <input type="number" formControlName="quantity">
                                                        </div>
                                                    </div>
                                                    
                                                        <button class="btn btn-primary fix" routerLinkActive="active" routerLink='pastry'>ADD</button> 
                                                    
                                                </div>
                                            </div> 
                                        </div>
    
                                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                                <div class="tile">
                                                    <div class="wrapper">
                                                        <div class="header">DONUT</div>
                                
                                                        <div class="banner-img">
                                                            <img src="../assets/images/donuts.jpg" alt="Image 1">
                                                        </div>
                                                        <div class="dates">
                                                            <div class="start">
                                                                <strong>PRICE</strong> Rs. 50.00
                                                                <span></span>
                                                            </div>
                                                            <div class="ends">
                                                                <strong>QUANTITY</strong> 
                                                                <input type="number" formControlName="quantity">
                                                            </div>
                                                        </div>
                                                        
                                                            <button class="btn btn-primary fix" routerLinkActive="active" routerLink='pastry'>ADD</button> 
                                                        
                                                    </div>
                                                </div> 
                                            </div>
                
    
    
    
               
    
                
            </div>
        </div>
    </div>

