<div class="container">
<div class="row">
    <hr>
    
        <div class="search">
                <h5>Enter Booking ID:</h5>  
                <input type="text" placeholder="Search..">
                <button class="btn btn-warning">View Details</button>
        </div><br><br>
    <div class="col-md-15">
        <hr><h1>Room Reservations Billing</h1>
        <app-event-bill></app-event-bill>
    </div>
    <!-- <div class="col-md-15">
        <br><br>
        <hr><h1>Event Billing</h1>
        <app-room-res-bill></app-room-res-bill>
    </div> -->
</div>
</div>
