<div class="search-hero">
    <input class="form-control"
    style="box-orient: 0 10px 40px 0 #B0C1D9; font-family: FontAwesome;"
     type="text"
     name="search"
     [(ngModel)]="searchText"
     autocomplete="off"
     placeholder="&#61442; Search Request Item">
  </div>
<!--Table-->
<table class="table table-striped w-auto">

  <!--Table head-->
  <thead>
    <tr class="active">
      <th>Id</th>
      <th>type</th>
      <th>Item</th>
      <th>Stock IN Hand</th>
      <th>Issued</th>
      <th>Rate Rs.</th>
      <th>value Rs.</th>
      <th>cts</th>
      <th>Rrs</th>
    </tr>
  </thead>
  
  <tbody *ngFor="let request of request| filter:searchText;let i = index">
       
      <tr class="table-info" >
        <th scope="row" >RQ{{request.id}}</th>
        
        <td>{{request.type}}</td>
        <td>{{request.item}}</td>
        <td>{{request.stockInHand}}</td>
        <td>{{request.issued}}</td>
        <td>{{request.rateRs}}</td>
        <td>{{request.ValueRs}}</td>
        <td>{{request.cts}}</td>
        <td>{{request.Rrs}}</td>
        
        <button class="btn btn-success">Edit</button>
        <button class="btn btn-danger" (click)="onDeleteItem(i)">Delete</button>
      </tr>
      
    </tbody>
  <!--Table body-->


</table>
<app-popup3></app-popup3>
