
<!--Table-->
<table class="table table-striped w-auto">

  <!--Table head-->
  <thead>
    <tr class="active">
      <th>Id</th>
      <th>type</th>
      <th>Item</th>
      <th>Stock IN Hand</th>
      <th>Issued</th>
      <th>Rate Rs.</th>
      <th>value Rs.</th>
      <th>cts</th>
      <th>Rrs</th>
    </tr>
  </thead>
  <!--Table head-->

  <!--Table body-->
  <tbody>
    <tr class="table-info">
      <th scope="row">DE002</th>
      
      <td>flowers</td>
      <td>13</td>
      <td>superShipping</td>
      <td>2019-06-06</td>
      <td>designer</td>
      <td>230</td>
      <td>designer</td>
      <td>230</td>
    </tr>
    <tr>
      <th scope="row">ST004</th>
      
      <td>flowers</td>
      <td>13</td>
      <td>superShipping</td>
      <td>2019-06-06</td>
      <td>designer</td>
      <td>230</td>
      <td>designer</td>
      <td>230</td>
    </tr>
    <tr class="table-info">
      <th scope="row">DE005</th>
      
      <td>flowers</td>
      <td>13</td>
      <td>superShipping</td>
      <td>2019-06-06</td>
      <td>designer</td>
      <td>230</td>
      <td>designer</td>
      <td>230</td>
    </tr>
    
  </tbody>
  <!--Table body-->


</table>
<app-popup></app-popup>
