<app-display-r></app-display-r>
<!-- <div class="container">
    <table class="table table-trapped">

            <thead>
                <tr>
                    <th>Employee ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Basic Salary</th>
                    <th>EPF</th>
                    <th>Allowance</th>
                    <th>OT Amount</th>
                    <th>Net Salary</th>
                </tr>
            </thead>
    
            <tbody>
                <tr *ngFor="let data of payroll">
                    <td>{{data.empId}}</td>
                    <td>{{data.name}}</td>
                    <td>{{data.description}}</td>
                    <td>{{data.basicsalary}}</td>
                    <td>{{data.epf}}</td>
                    <td>{{data.allowance}}</td>
                    <td>{{data.otAmount}}</td>
                    <td>{{data.netSalary}}</td>
                    <td><button class="btn btn-danger" (click)="getCurrentUse(data)">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
        
  
 -->
