<h1>Rs. 1990.00</h1>
<h3>SALAD BAR</h3>

<ul>
  <li>Egg Russian</li>
  <li>Pasta & Green Chilli</li>
  <li>Fresh Lettuce & Coleslaw with Raisins</li>
  <li>Oriantal Onion Salad with Corriander Leaves</li>
  <li>Meditarian</li>
</ul>  

<h3>FROM THE SOUP KETTLE</h3>
<ul>
    <li>Cream of Chicken with Garlic Croutions</li>
    <li>Vegitable & Egg Drop with Spring Onion </li>
    <li>Cream of Asparagus</li>
    
    <ol>Accompaned with Bread & Butter</ol>
</ul>

<h2>HOT RANGE</h2>
<h3>RICE</h3>
<ul>
    <li>Country Red Rice</li>
    <li>Steamed Basmathi Granished with Plumps & Cashew</li>
    <li>Chinese Sea Food Fried Rice</li>
    <li>Mixed Fried Rice</li>
    <li>Wok Fried Vegitable & Egg Fried Rice</li>
</ul>

<h3>Pasta & Noodles</h3>
<ul>
    <li>Butterd Penne Pasta Hot & Spicy</li>
    <li>Spaghetty with Vegitables & Grated Cheese</li>
    <li>Vegitable & Egg Noodles</li>
</ul>
<h2>MEATS</h2>
<h3>CHICKEN</h3>
<ul>
    <li>Garlic Marinated Oven Roasted Chicken</li>
    <li>Chicken Masala</li>
    
</ul>

<h3>PORK</h3>
<ul>
    <li>Devilled Pork</li>
    <li>Authentic Sri Lankan Pork Black Curry</li>
</ul>

<h3>SEA FOOD</h3>
<ul>
    <li>Devilled Fish</li>
    <li>Sri Lankan Style Cuttle Fish Curry</li>
</ul>

<h2>VEGETARIAN SELECTION</h2>
<ul>
    <li>Dhal Fry with Spinach</li>
    <li>Devilled Mushroom</li>
    <li>Stir Fried Vegitables</li>
    
</ul>

<h3>CONIDIMENTS</h3>
<ul>
    <li>Fish Cutlet</li>
    <li>Chutney</li>
    <li>Papadam</li>
    <li>Malay Pickle</li>
</ul>


