
<app-get-attendance
(attendanceAdded)="onAttendanceAdded($event)">
</app-get-attendance>


<div class="container">
<table class="table table-trapped">

        <thead>
            <tr>
                <th>Date</th>
                <th>Employee ID</th>
                <th>Duty Shift</th>
                <th>Arrival Time</th>
                <th>Leaving Time</th>
                <th>Update</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let attend of attendnew">
                <td>{{ attend.date }}</td>
                <td>{{ attend.eid }}</td>
                <td>{{ attend.wshift}}</td>
                <td>{{ attend.atime}}</td>
                <td>{{ attend.ltime}}</td>
                <td><button class="btn btn-success">Update</button>
            </tr>
        </tbody>
    </table>
</div>
