<div class="col-xs-3">
    <h1>Restaurent Catering</h1>
</div>
<div class="col-xs-8">
<div class="row">

        <button class="btn btn-primary" routerLinkActive="active" routerLink='pastry'>PASTRY</button>
        <button class="btn btn-success" routerLinkActive="active" routerLink='desserts'>DESSERTS</button>
        <button class="btn btn-warning" routerLinkActive="active" routerLink='drinks'>DRINKS</button>
        
    
</div>
<div class="row">
  <router-outlet></router-outlet>

</div>
        
</div>