
    <div class="col-xs-6">
        
       

        <div id="page-wrap">
 
            <div style="clear:both"></div>
            
            <table class="table table-striped w-auto">
                <thead>
              <tr class="active">
                  <th>Item</th>
                  <th>Description</th>
                  <th>Unit Cost</th>
                  <th>Quantity</th>
                  <th>Price</th>
              </tr>
            </thead>
            
            <tbody>
              <tr class="item-row">
                  <td class="item-name"><div class="delete-wpr"><textarea>Web Updates</textarea></div></td>
                  <td class="description"><textarea>Monthly web updates for http://widgetcorp.com (Nov. 1 - Nov. 30, 2009)</textarea></td>
                  <td><textarea class="cost">$650.00</textarea></td>
                  <td><textarea class="qty">1</textarea></td>
                  <td><span class="price">$650.00</span></td>
                  <button class="btn btn-success">Edit</button>
                  <button class="btn btn-danger" (click)="onDeleteOrder(i)">Delete</button>
              </tr>
              
              <tr class="item-row">
                  <td class="item-name"><div class="delete-wpr"><textarea>SSL Renewals</textarea></div></td>
    
                  <td class="description"><textarea>Yearly renewals of SSL certificates on main domain and several subdomains</textarea></td>
                  <td><textarea class="cost">$75.00</textarea></td>
                  <td><textarea class="qty">3</textarea></td>
                  <td><span class="price">$225.00</span></td>
              </tr>
              
              <tr id="hiderow">
                <td colspan="5"><a id="addrow" href="javascript:;" title="Add a row">Add a row</a></td>
              </tr>
              
              <tr>
                  <td colspan="2" class="blank"> </td>
                  <td colspan="2" class="total-line">Subtotal</td>
                  <td class="total-value"><div id="subtotal">$875.00</div></td>
              </tr>
              <tr>
    
                  <td colspan="2" class="blank"> </td>
                  <td colspan="2" class="total-line">Total</td>
                  <td class="total-value"><div id="total">$875.00</div></td>
              </tr>
              <tr>
                  <td colspan="2" class="blank"> </td>
                  <td colspan="2" class="total-line">Amount Paid</td>
    
                  <td class="total-value"><textarea id="paid">$0.00</textarea></td>
              </tr>
              <tr>
                  <td colspan="2" class="blank"> </td>
                  <td colspan="2" class="total-line balance">Balance Due</td>
                  <td class="total-value balance"><div class="due">$875.00</div></td>
              </tr>
            </tbody>
            </table>
            
            <div id="terms">
              <h5>Terms</h5>
              <textarea>NET 30 Days. Finance Charge of 1.5% will be made on unpaid balances after 30 days.</textarea>
            </div>
        
        </div>
        

    </div>

