<div class="row">
        <div class="col-xs-12">
    
                
                <hr><h2> Display Room Reservation Bill</h2>
    
            <form>
                <div class="row">
                        <div class="col-sm-5 form-group">
                          <label for="bookId">Booking ID</label>
                          <input type="text" id="bookId" class="form-control" #bookId>
                        </div>
                        <div class="col-sm-7 form-group">
                                <label for="rType">Room Type</label>
                                <input type="text" id="rType" class="form-control" #rType>
                        </div>
                        <div class="col-sm-12 form-group">
                                <label for="bType">Board Type</label>
                                <input type="text" id="bType" class="form-control" #bType>
                        </div>
                </div> 
                <div class="row">
                        <div class="col-sm-7 form-group">
                                <label for="noOfDay">No of Days</label>
                                <input type="text" id="noOfDay" class="form-control" #noOfDay>
                        </div> 
                        
                        
                </div> 
                <br><br>
                
                        
                
                <div class="row">
                        <div class="col-sm-5 form-group">
                          <label for="noOfRooms">No of Rooms</label>
                          <input type="text" id="noOfRooms" class="form-control" #noOfRooms>
                        </div>
                        <div class="col-sm-5 form-group">
                                <label for="amount">Amount</label>
                                <input type="text" id="amount" class="form-control"#amount>
                        </div>
                        
                        
                </div> 
                <br>
                
                
    
    
                
                <div class="row">
                        <div class="col-sm-12 ">
                            <button class="btn btn-success" type="submit" (click)="onAddEvent()">Add</button>
                            <!-- <button class="btn btn-danger" type="button">Delete</button>-->
                            <button class="btn btn-primary" type="button">Print</button> 
                        </div>
                </div>
                        
            </form>
        </div>
    </div>
    
    