<app-header></app-header>






  <div class="row">
    
        <div class="col-md-2">
            <app-main-nav>
                <div class="d-flex" id="wrapper">

                    <!-- Sidebar -->
                    <div class="bg-light border-right" id="sidebar-wrapper">
                      <div class="list-group list-group-flush">
                        <a href="#" class="list-group-item list-group-item-action bg-light">Catering</a>
                        <a href="#" class="list-group-item list-group-item-action bg-light">Stores</a>
                        <a href="#" class="list-group-item list-group-item-action bg-light">Reservation</a>
                        <a href="#" class="list-group-item list-group-item-action bg-light">Finance</a>
                        <a href="#" class="list-group-item list-group-item-action bg-light">Profile</a>
                        <a href="#" class="list-group-item list-group-item-action bg-light">Event</a>
                      </div>
                    </div>
                    <!-- /#sidebar-wrapper -->
                    
                    
                      
                  </div>
            </app-main-nav>
          
            
      </div>
     
      <router-outlet></router-outlet>
    </div>

    

 
    
  
 
