<div class="col-xs-9">
  <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
    <!-- Overlay -->
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    
  
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
      <li data-target="#bs-carousel" data-slide-to="1"></li>
      <li data-target="#bs-carousel" data-slide-to="2"></li>
    </ol>
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item slides active">
        <div class="slide-1"></div>
        <div class="hero">
         
    
        </div>
      </div>
      <div class="item slides">
        <div class="slide-2"></div>
        <div class="hero">        
               
      
        </div>
      </div>
      <div class="item slides">
        <div class="slide-3"></div>
        <div class="hero">        
          
  
        </div>
    
      </div>
    </div> 
    </div>
    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
  </div>
  
<div class="col-xs-8 des">
    
  
 <h2>Welcome to Sanaya Mansion</h2>
<p>Sanaya Mansion is an exotic place established in 2007. Bested in the heart of down south of Sri Lanka - Matara, a historic and beautiful city<br>
   close to the sandy beach of Indian ocean. Conveniently located close to the Colombo Matara main road.<br>

  Each one-of-a-kind Sanaya Mansion puts you in touch with the distinctive energy, personality and pulse all around you. <br>
  Chef-inspired flavors and fresh, local ingredients restore your spirits in our stylish, distinguished restaurants and lounges.<br>
   With Sanaya, you don't have to leave your life or style at home. We're here to create a memorable experience that invites you to return again and again</p>


</div>

</div>