<h1>ADVERTISEMENTS</h1>
<hr>


<h2>Photographers</h2>
<br>

<div class="container">
        
        <a href="https://www.facebook.com/letmeknow.lk/">
            <img src="assets/images/phg3.jpg" class="img-rounded" alt="HTML tutorial" style="width:300px;height:200px;border:0;">
          </a>


        <a href="https://www.facebook.com/vevralite/">
                <img src="assets/images/vevra.jpg" class="img-rounded" alt="HTML tutorial" style="width:300px;height:200px;border:0;">
              </a>
      </div>

      <br><br>
      <h2>Floral Arrangements</h2>
      <br>
      <div class="container">
            <a href="https://www.facebook.com/lassanaflora/">
                <img src="assets/images/fa1.jpg" class="img-rounded" alt="HTML tutorial" style="width:300px;height:200px;border:0;">
              </a>


              <div class="container">
                    <a href="https://www.facebook.com/Alankara-Flora-1485980321645037/">
                        <img src="assets/images/fa2.jpg" class="img-rounded" alt="HTML tutorial" style="width:300px;height:200px;border:0;">
                      </a>
      </div>

      <br><br>
      <h2>DJ Band Groups</h2>
      <br>
      <div class="container">
            <a href="https://www.facebook.com/flashnugegoda/">
                <img src="assets/images/DJ!.jpg" class="img-rounded" alt="HTML tutorial" style="width:300px;height:200px;border:0;">
              </a>


              <div class="container">
                    <a href="https://www.facebook.com/vibeztunes/">
                        <img src="assets/images/DJ2.jpg" class="img-rounded" alt="HTML tutorial" style="width:300px;height:200px;border:0;">
                      </a>
      </div>

      <h2>Wedding Cakes</h2>
      <br>
      <div class="container">
            <a href="https://www.facebook.com/kaprukafans/">
                <img src="assets/images/cake1.jpg" class="img-rounded" alt="HTML tutorial" style="width:300px;height:200px;border:0;">
              </a>


              <div class="container">
                    <a href="https://www.facebook.com/LankaChandani/">
                        <img src="assets/images/cake2.jpg" class="img-rounded" alt="HTML tutorial" style="width:300px;height:200px;border:0;">
                      </a>
      </div>