
<table class="table table-striped w-auto">

    <thead>
      <tr class="active">
        <th>Id</th>
        <th>Item</th>
        <th>Quantity</th>
        <th>Supplier</th>
        <th>Date</th>
        <th>Request</th>
        <th>Price</th>
      </tr>
    </thead>
    
    <tbody>
      <tr class="table-info">
        <th scope="row">ST002</th>
        
        <td>Meat</td>
        <td>13</td>
        <td>fish mart</td>
        <td>2019-06-06</td>
        <td>Cheff</td>
        <td>230</td>
      </tr>
      <tr>
        <th scope="row">ST004</th>
        
        <td>Vegitable</td>
        <td>50</td>
        <td>vijaya</td>
        <td>2019-06-06</td>
        <td>staff member</td>
        <td>360</td>
      </tr>
      <tr class="table-info">
        <th scope="row">ST005</th>
        
        <td>Ham</td>
        <td>12</td>
        <td>darshana</td>
        <td>2019-06-06</td>
        <td>Cheff</td>
        <td>250</td>
      </tr>
      
    </tbody>
   
  
  
  </table>
  

  <app-popup></app-popup>

 
  