
<table class="table table-striped w-auto">

    <thead>
      <tr class="active">
        <th>Id</th>
        <th>Item</th>
        <th>Quantity</th>
        <th>Supplier</th>
        <th>Date</th>
        <th>Request</th>
        <th>Price</th>
      </tr>
    </thead>
    
    <tbody *ngFor="let sitem of sitem;let i = index">
       
      <tr class="table-info" >
        <th scope="row" >{{sitem.id}}</th>
        
        <td>{{sitem.item}}</td>
        <td>{{sitem.quantity}}</td>
        <td>{{sitem.supplier}}</td>
        <td>{{sitem.date}}</td>
        <td>{{sitem.request}}</td>
        <td>{{sitem.price}}</td>
        <button class="btn btn-success">Edit</button>
        <button class="btn btn-danger">Delete</button>
      </tr>
      
    </tbody>
   
  
  
  </table>
  

  <app-popup></app-popup>


 
  