
<!--Table-->
<table class="table table-striped w-auto">

  <!--Table head-->
  <thead>
    <tr class="active">
      <th>Id</th>
      <th>Item</th>
      <th>Quantity</th>
      <th>Supplier</th>
      <th>Date</th>
      <th>Request</th>
      <th>Price</th>
    </tr>
  </thead>
  <!--Table head-->

  <!--Table body-->
  <tbody>
    <tr class="table-info">
      <th scope="row">DE002</th>
      
      <td>flowers</td>
      <td>13</td>
      <td>superShipping</td>
      <td>2019-06-06</td>
      <td>Web Designer</td>
      <td>230</td>
    </tr>
    <tr>
      <th scope="row">DE004</th>
      
      <td>banners</td>
      <td>50</td>
      <td>superShipping</td>
      <td>2019-06-06</td>
      <td>Frontend Developer</td>
      <td>360</td>
    </tr>
    <tr class="table-info">
      <th scope="row">DE005</th>
      
      <td>paper</td>
      <td>12</td>
      <td>superShipping</td>
      <td>2019-06-06</td>
      <td>Photographer</td>
      <td>250</td>
    </tr>
    
  </tbody>
  <!--Table body-->


</table>

<button class="btn btn-success pull-right">Add new Decoration</button>