
<!--Table-->
<table class="table table-striped w-auto">

  <!--Table head-->
  <thead>
    <tr class="active">
      <th>Id</th>
      <th>Decorations</th>
      <th>Quantity</th>
      <th>Supplier</th>
      <th>Date</th>
      <th>Request</th>
      <th>Price</th>
    </tr>
  </thead>
  <!--Table head-->

  <!--Table body-->
  <tbody *ngFor="let ditem of ditem;let i = index">
   <tr class="table-info" >
    <th scope="row" >DE{{ditem.id}}</th>
        
    <td>{{ditem.decorations}}</td>
    <td>{{ditem.quantity}}</td>
    <td>{{ditem.supplier}}</td>
    <td>{{ditem.date}}</td>
    <td>{{ditem.request}}</td>
    <td>{{ditem.price}}</td>
    <button class="btn btn-success">Edit</button>
        <button class="btn btn-danger" (click)="onDeleteItem(i)">Delete</button>
  </tr>
  </tbody>
  <!--Table body-->


</table>
<app-popup2></app-popup2>
