<div class="col-xs-9">
<table class="table table-striped w-auto">

    <!--Table head-->
    <thead>
      <tr class="active">
        <th>Customer Number</th>
        <th>Customer Name</th>
        <th>Number of Plates</th>
        <th>Menu Type</th>
        <th>Welcome Drinks</th>
        <th>Amount</th>
        <th>Date</th>
        
      </tr>
    </thead>
    <!--Table head-->
  
    <!--Table body-->
    <tbody *ngFor="let order of order;let i = index">
     <tr class="table-info" >
      <th scope="row" >{{order.customerNo}}</th>
          
      
      <td>{{order.customerName}}</td>
      <td>{{order.numberOfPlates}}</td>
      <td>Rs {{order.menuType}}</td>
      <td>{{order.welcomeDrinks}}</td>
      <td>Rs {{order.amount}}.00</td>
      <td>{{order.date}}</td>
      
      <button class="btn btn-success" (click)="initForm(i)">Edit</button>
          <button class="btn btn-danger" (click)="onDeleteOrder(i)">Delete</button>
    </tr>
    </tbody>
    <!--Table body-->
  
  
  </table>
</div>