<div class="row">
        <div class="col-xs-12">
    
                
                <hr><h2> Display Event Bill</h2>
    
            <form>
                <div class="row">
                        <div class="col-sm-5 form-group">
                          <label for="bookId">Booking ID</label>
                          <input type="text" id="bookId" class="form-control" #bookId>
                        </div>
                        <div class="col-sm-7 form-group">
                                <label for="mType">Menu Type</label>
                                <input type="text" id="mType" class="form-control" #mType>
                        </div>
                        <div class="col-sm-12 form-group">
                                <label for="noOfPl">No of plates</label>
                                <input type="text" id="noOfPl" class="form-control" #noOfPl>
                        </div>
                </div> 
                <div class="row">
                        <div class="col-sm-7 form-group">
                                <label for="extra">Extra plates</label>
                                <input type="text" id="extra" class="form-control" #extra>
                        </div> 
                        
                        
                </div> 
                <br><br>
                
                        
                
                <div class="row">
                        
                        <div class="col-sm-5 form-group">
                                <label for="amount">Amount</label>
                                <input type="text" id="amount" class="form-control"#amu>
                        </div>
                        
                        
                </div> 
                <br>
                
                
    
    
                
                <div class="row">
                        <div class="col-sm-12 ">
                            <button class="btn btn-success" type="submit" (click)="onAddRes()">Add</button>
                            <!-- <button class="btn btn-danger" type="button">Delete</button>-->
                            <button class="btn btn-primary" type="button">Print</button> 
                        </div>
                </div>
                        
            </form>
        </div>
    </div>
    
    
