<!-- <div class="row"> -->
    <div class="col-xs-20">
        <img style="max-height: 300px;"
         [src]="catering.imagePath" alt="{{catering.name}}" class="img-responsive">
    </div>
    <div class="col-xs-3">
        <h1>{{ catering[0].name}}</h1>
        <h3> Catering form </h3>
        <app-catering-form ></app-catering-form>
        <hr>
         <div class="btn-group" appDropDown>
            <button type="button" class="btn btn-primary dropdown-toggle">Menu types
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a (click)="onAddToSoppingList()" style="cursor: pointer;">Rs 1990.00</a></li>
                <li><a (click)="onAddToSoppingList2()" style="cursor: pointer;">Rs 2450.00</a></li>
                <li><a style="cursor: pointer;">Rs 3200.00</a></li>
            </ul>
            {{catering[0].description}}
        </div>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let ingredient of catering.ingredients">{{ingredient[0].name}} - {{ingredient.amount[0]}}</li>
        </ul>
        
    </div>
    
   


