
<form [formGroup]="profileForm">
  
        <label>
          Customer Name:
          <input type="text" formControlName="customerName">
        </label>
      
        <label>
            Customer Number:
          <input type="text" formControlName="customerNumber">
        </label>
        <app-menu-type></app-menu-type>

        <label>
                Number of Plates:
              <input type="number" formControlName="numberOfPlates">
            </label>

            <label>
                Dates:
                  <input type="date" formControlName="dateTime">
                </label>
            <label>
                    Time:
                    <input type="time" formControlName="time">
            </label>
            
        </form>
        
      <form [formGroup]="profileForm" (ngSubmit)="onSubmit()"></form>
      <button type="submit" [disabled]="!profileForm.valid">Submit</button>

      