<h1>Rs. 3200.00</h1>
<h3>SALAD BAR</h3>

<ul>
  <li>Egg Russian</li>
  <li>Assorted Cold Meat Platter</li>
  <li>Pasta & Green Chilli</li>
  <li>Fresh Lettuce & Coleslaw with Raisins</li>
  <li>Beet Root & Orange</li>
  <li>Oriantal Onion Salad with Corriander Leaves</li>
  <li>Potato & Sausage</li>
  <li>Meditarian</li>
  <li>Tuna Nicoise</li>
  <li>Thai Style Shreded Chicken</li>
</ul>  

<h3>FROM THE SOUP KETTLE</h3>
<ul>
    <li>Cream of Chicken with Garlic Croutions</li>
    <li>Sweet Corn & Chicken</li>
    <li>Vegitable & Egg Drop with Spring Onion </li>
    <li>Cream of Asparagus</li>
    <li>Cream of Pumpkin</li>
    <li>Cream of Tomato with Garlic Croutions</li>
    <li>Tom Yum Goong</li>
    <li>Cream of Spinach with Cellary</li>
    
    <ol>Accompaned with Bread & Butter</ol>
</ul>

<h2>HOT RANGE</h2>
<h3>RICE</h3>
<ul>
    <li>Country Red Rice</li>
    <li>Steamed Basmathi Granished with Plumps & Cashew</li>
    <li>Vegitable Biriyani</li>
    <li>Chinese Sea Food Fried Rice</li>
    <li>Mixed Fried Rice</li>
    <li>Thai Spicy Sea Food Fried Rice</li>
    <li>Wok Fried Vegitable & Egg Fried Rice</li>
    <li>Indonisian Nazi Goorang</li>
    <li>Garlic Rice with Spring Onion</li>
    <li>Ghoee Rice with Sultana & Cashew</li>
</ul>

<h3>Pasta & Noodles</h3>
<ul>
    <li>Butterd Penne Pasta Hot & Spicy</li>
    <li>Pasta Marrinara (Sea Food)</li>
    <li>Spaghetty with Vegitables & Grated Cheese</li>
    <li>Vegitable & Egg Noodles</li>
    <li>Wok Fried Chinese Noodles Tossed with Vegitable</li>
    <li>Mee Goorang</li>
</ul>

<h2>MEATS</h2>
<h3>CHICKEN</h3>
<ul>
    <li>Garlic Marinated Oven Roasted Chicken</li>
    <li>Chicken Masala</li>
    <li>Thai Style Spicy Chicken</li>
    <li>Bonless Chicken Szechuan Style</li>
    <li>Chicken Red Curry Madras</li>

</ul>

<h3>PORK</h3>
<ul>
    <li>Devilled Pork</li>
    <li>Authentic Sri Lankan Pork Black Curry</li>
    <li>Pork Stew with Capsicum & Onion</li>
    <li>Double Fried Pork with Black Beans </li>
</ul>

<h3>SEA FOOD</h3>
<ul>
    <li>Devilled Fish</li>
    <li>Decicated Coconut Crumbed Fried Fish Fillet </li>
    <li>Sri Lankan Style Cuttle Fish Curry</li>
    <li>South Indian Fish Masala</li>
    <li>Devilled Cuttle Fish</li>
</ul>

<h2>VEGETARIAN SELECTION</h2>
<ul>
    <li>Dhal Fry with Spinach</li>
    <li>Devilled Mushroom</li>
    <li>Stir Fried Vegitables</li>
    <li>Butterd Vegitables</li>
    <li>Chinese Vegitable Chopsuey</li>
    <li>Potato Badum with Maldive Fish & Onions</li>
</ul>

<h3>CONIDIMENTS</h3>
<ul>
    <li>Fish Cutlet</li>
    <li>Chutney</li>
    <li>Papadam</li>
    <li>Malay Pickle</li>
</ul>






