
<div class="col-xs-3">
    <h1>Hotel Catering</h1>
    <img id="myImg" src="https://media-cdn.tripadvisor.com/media/photo-s/0c/15/75/e8/buffet-des-salades.jpg" alt="Snow" style="width:100%;max-width:300px">

</div>
<div id="myModal" class="modal">
    <span class="close">&times;</span>
    <img class="modal-content" id="img01">
    <div id="caption"></div>
  </div>
  

  <hr>

<div class="col-xs-3">
    
<form [formGroup]="hotelForm" (ngSubmit)="onSubmit()" class="form">

        <div>
                <label>
                        Menu Type:
                        
                            <select #price   formControlName="menuType" [ngClass]="{ 'is-invalid': submitted && f.menuType.errors }">
                              <option value="1990.00">Rs 1990.00</option>
                              <option value="2450.00">Rs 2450.00</option>
                              <option value="3500.00">Rs 3200.00</option>
                              
                            </select>
                            <br><br>
                            <div *ngIf="submitted && f.menuType.errors" class="invalid-feedback">
                              <div *ngIf="f.menuType.errors.required">menuType is required</div>
                          </div>
                     
                </label>
        </div>
        <div>
        <label>
          Welcome Drinks:
          
              <select   formControlName="welcomeDrinks" [ngClass]="{ 'is-invalid': submitted && f.welcomeDrinks.errors }">
                <option value="FreshPapaya">Fresh Papaya</option>
                <option value="FreshWatermelon">Fresh Watermelon</option>
                <option value="Orange">Orange</option>
                <option value="Strawberry"> Strawberry</option>
                <option value="BlackCurrent">Black Current</option>
            
                
              </select>
              <br><br>
              <div *ngIf="submitted && f.welcomeDrinks.errors" class="invalid-feedback">
                <div *ngIf="f.welcomeDrinks.errors.required">Welcome Drinks is required</div>
            </div>
       
  </label>
</div>

       
  
    <label>
      Customer Name:
      <input type="text" formControlName="customerName" [ngClass]="{ 'is-invalid': submitted && f.customerName.errors }">
      <div *ngIf="submitted && f.customerName.errors" class="invalid-feedback">
        <div *ngIf="f.customerName.errors.required">Customer Name is required</div>
    </div>
    </label>
  
    <label>
        Customer Number:
      <input type="text" formControlName="customerNo" [ngClass]="{ 'is-invalid': submitted && f.customerNo.errors }">
      <div *ngIf="submitted && f.customerNo.errors" class="invalid-feedback">
        <div *ngIf="f.customerNo.errors.required">Customer Number is required</div>
    </div>
    </label>
    

    <label>
            Number of Plates:
          <input type="number" #plate   formControlName="numberOfPlates" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" [ngClass]="{ 'is-invalid': submitted && f.numberOfPlates.errors }">
          <div *ngIf="submitted && f.numberOfPlates.errors" class="invalid-feedback">
            <div *ngIf="f.numberOfPlates.errors.required">Number Of Plates are required</div>
        </div>
        </label>

        <label>
            Dates:
              <input type="date" formControlName="date" [ngClass]="{ 'is-invalid': submitted && f.date.errors }">
              <div *ngIf="submitted && f.date.errors" class="invalid-feedback">
                <div *ngIf="f.date.errors.required">Date is required</div>
            </div>
            </label>
       
        <hr>
        
        
        <label> Amount: Rs {{price.value*plate.value}}.00</label> 
        <hr>
              
            <button class="btn btn-primary" type="submit()">Submit</button>
        
    </form>
    
  


  
 
    
</div>

