
<div class="col-xs-3">
    <h1>Hotel Catering</h1>
    <img id="myImg" src="https://media-cdn.tripadvisor.com/media/photo-s/0c/15/75/e8/buffet-des-salades.jpg" alt="Snow" style="width:100%;max-width:300px">

</div>
<div id="myModal" class="modal">
    <span class="close">&times;</span>
    <img class="modal-content" id="img01">
    <div id="caption"></div>
  </div>
  
  <script>
  
  </script>
  <hr>
  <hr>

<div class="col-xs-3">
    
<form [formGroup]="profileForm">

        <div>
                <label>
                        Menu Type:
                        <form action="/action_page.php">
                            <select name="Plates">
                              <option value="1990">Rs 1990.00</option>
                              <option value="2450">Rs 2450.00</option>
                              <option value="3500">Rs 3200.00</option>
                              
                            </select>
                            <br><br>
                            
                          </form>
                </label>
        </div>

        <div>
                <label >
                        Welcome Drinks:
                        <form action="/action_page.php">
                            <input type="radio" name="WelcomeDrinks" value="FreshPapaya" checked> Fresh Papaya<br>
                            <input type="radio" name="WelcomeDrinks" value="FreshWatermelon"> Fresh Watermelon<br>
                            <input type="radio" name="WelcomeDrinks" value="Orange"> Orange<br>
                            <input type="radio" name="WelcomeDrinks" value="Strawberry"> Strawberry<br>
                            <input type="radio" name="WelcomeDrinks" value="BlackCurrent"> Black Current<br><br>
                          </form> 
                    </label>
        </div>
  
    <label>
      Customer Name:
      <input type="text" formControlName="customerName">
    </label>
  
    <label>
        Customer Number:
      <input type="text" formControlName="customerNumber">
    </label>
    <app-menu-type></app-menu-type>

    <label>
            Number of Plates:
          <input type="number"  formControlName="numberOfPlates" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" >
        </label>

        <label>
            Dates:
              <input type="date" formControlName="dateTime">
            </label>
        <label>
                Time:
                <input type="time" formControlName="time">
        </label>
        
        
        
       
              

        
    </form>
    
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()"></form>
  <button type="submit" [disabled]="!profileForm.valid">Submit</button>

  
 
    
</div>

