<div>
    
    <button (click)="openModal('custom-modal-1')" class="btn btn-success pull-right">Make Request</button>
    
    
</div>

<jw-modal id="custom-modal-1" >
    <div style="height:420px">
            
                    <h5 class="card-header">Request</h5>
                    
                
                            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="form">

                                    
                                    <div class="row">
                                            <div class=" col-xs-5 form-group">
                                                    <label>Type</label>
                                                    <select formControlName="request" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.request.errors }">
                                                        
                                                        <option value="Mr">Store-item</option>
                                                        <option value="Mrs">decoration</option>
                                                    </select>
                                                    <div *ngIf="submitted && f.request.errors" class="invalid-feedback">
                                                        <div *ngIf="f.request.errors.required">Request is required</div>
                                                    </div>
                                                </div>
                                           
                                    <div class="col-xs-5 form-group">
                                            <label>Items</label><br>
                                    <input type="text" placeholder="" formControlName="decorations" class="form-control" [formControl]="control" [matAutocomplete]="auto" [ngClass]="{ 'is-invalid': submitted && f.decorations.errors }" />
                                    <mat-autocomplete #auto="matAutocomplete">
                                            <mat-option *ngFor="let itemv of filtereditemsv | async" [value]="itemv">
                                              {{itemv}}
                                            </mat-option>
                                          </mat-autocomplete>
                                          <div *ngIf="submitted && f.decorations.errors" class="invalid-feedback">
                                                  <div *ngIf="f.decorations.errors.required">item is required</div>       
                                          </div>
                                </div>
                                 
                                <div class=" col-xs-5 form-group" >
                                        <label>	Stock In Hand</label>
                                        <input type="date" class="form-control" id="today" #todayInput required>
                                </div>
                                <div class=" col-xs-5 form-group" >
                                        <label>	Issued</label>
                                           
                                            <input [owlDateTimeTrigger]="dt" [owlDateTime]="dt" class="form-control">
                                            <owl-date-time #dt></owl-date-time>
                                        
                                </div>
                               
                        
                            <div class="col-xs-5 form-group">
                                <label>Rate Rs.</label>
                                <input type="number" formControlName="quantity" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.quantity.errors }" />
                                <div *ngIf="submitted && f.quantity.errors" class="invalid-feedback">
                                    <div *ngIf="f.quantity.errors.required">Rate is required</div>
                                </div>
                            </div>
                            <div class="col-xs-5 form-group">
                                    <label>Value Rs.</label>
                                    <input type="number" formControlName="quantity" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.quantity.errors }" />
                                    <div *ngIf="submitted && f.quantity.errors" class="invalid-feedback">
                                        <div *ngIf="f.quantity.errors.required">Value is required</div>
                                    </div>
                                </div>
                        </div>
                        <div class="row">
                    
                
                
                
               
                <div class=" col-xs-5 form-group">
                    <label>Cts</label>
                    <input type="price" formControlName="price" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.price.errors }" />
                    <div *ngIf="submitted && f.price.errors" class="invalid-feedback">
                        <div *ngIf="f.price.errors.required">Cts is required</div>
                    </div>
                </div>
                <div class=" col-xs-5 form-group">
                        <label>Rrs</label>
                        <input type="price" formControlName="price" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.price.errors }" />
                        <div *ngIf="submitted && f.price.errors" class="invalid-feedback">
                            <div *ngIf="f.price.errors.required">Rrs is required</div>
                        </div>
                    </div>
                        </div>
                        <div class="row">
                
                
                   
                </div>
           <div class="row">
                    <div class="fix ">
                <div class="text-center">
                <button class="btn btn-primary mr-1">Add Decoration</button>
                <button class="btn btn-secondary" type="reset" (click)="onReset()">Cancel</button>
                </div>
                    </div>
                </div>
                        </form>
                        
              
    </div>
</jw-modal>

