<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="roomForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-success" [disabled]="!roomForm.valid">Save</button>
                    <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="no">Room No</label>
                        <input type="text" id="no" formControlName="no" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="roomType">Room Type</label>
                            <input type="text" id="roomType" formControlName="roomType" class="form-control">
                        </div>
                    </div>
                </div>
            <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                                <label for="imagePath">Image URL</label>
                                <input type="text" id="imagePath" formControlName="imagePath" class="form-control"
                                #imagePath>
                        </div>
                    </div>
            </div>
            <div class="row">
                    <div class="col-xs-12">
                               <img [src]="imagePath.value" class="img-responsive">
                    </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                            <label for="price">Price</label>
                            <input type="text" id="price" formControlName="price" class="form-control">
                    </div>
                </div>
        </div>
        </form>
    </div>
</div>